Basic Syntax

In [ ]:
print("I am Swagat.") #Function call
a=18 #Variable assignmnt
b=21 #No need to declare type

I am Swagat.

Python is case-sensitive

In [ ]:
Name ="Swagat"
name="Rohini"
print(Name,name) #Different variables

Swagat Rohini

Indentation matters

In [ ]:
if a>0:
  print("a is positive") #4 spaces indentation
  print("inside the if block")

a is positive
inside the if block

Variables & Data Types

Numeric Types

In [ ]:
age = 20 #int
height = 5.4 #float
complex_num =2 + 4j #complex

String Type

In [ ]:
name = "Swagat"
message = "Hello World"
multiline = """Multiline
code"""

Boolean Type

In [ ]:
is_complete = True
is_finished = False

Type Checking

In [ ]:
print(type(age))
print(type(height))
print(type(name))
print(type(complex_num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

Type Conversion

In [ ]:
str_number = "1008"
int_number = int(str_number)
float_number = float(str_number)

print(f"Original:{str_number} (type: {type(str_number)})")
print(f"Integer:{int_number} (type: {type(int_number)})")
print(f"Float:{float_number} (type: {type(float_number)})")

Original:1008 (type: <class 'str'>)
Integer:1008 (type: <class 'int'>)
Float:1008.0 (type: <class 'float'>)

Personal Information

Create variables for personal information

In [ ]:
first_name = "Swagat"
last_name = "Daddi"
age = 20
height = 5.4
is_student = True

Print formatted information

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height:{height}feet")
print(f"Student:{is_student}")

Name: Swagat Daddi
Age: 20
Height:5.4feet
Student:True

Operators & Basic Operations

In [ ]:
a =10
b = 3

print(f"Addition:{a} + {b} = {a+b}")
print(f"Substraction:{a} - {b} = {a-b}")
print(f"Multiplication:{a} * {b} = {a*b}")
print(f"Division: {a} / {b} = {a/b}")
print(f"Modulus: {a} % {b} = {a%b}")
print(f"Floor Division: {a} // {b} = {a//b}")
print(f"Exponentiation: {a} ** {b} = {a**b}")

Addition:10 + 3 = 13
Substraction:10 - 3 = 7
Multiplication:10 * 3 = 30
Division: 10 / 3 = 3.3333333333333335
Modulus: 10 % 3 = 1
Floor Division: 10 // 3 = 3
Exponentiation: 10 ** 3 = 1000

Order of operation(PEMDAS)



* P-Parenthesis
* E-Exponents
* M-Multiplication
* D-Division
* A-Addition
* S-Substraction

In [ ]:
result = 2 + 3 * 4 ** 2 -1
print(f" 2 + 3 * 4 ** 2 -1 = {result}")

 2 + 3 * 4 ** 2 -1 = 49

Relational Operators (or) Comparison

In [ ]:
x = 10
y = 20

print(f"{x} == {y}:{x==y}")
print(f"{x} != {y}:{x!=y}")
print(f"{x} > {y}:{x>y}")
print(f"{x} < {y}:{x<y}")
print(f"{x} >= {y}:{x>=y}")
print(f"{x} <= {y}:{x<=y}")

10 == 20:False
10 != 20:True
10 > 20:False
10 < 20:True
10 >= 20:False
10 <= 20:True

String Comparision

In [ ]:
name1 = "Swagat"
name2 = "Daddi"
print(f" '{name1}' > '{name2}':{name1 > name2}") #Alphabetical order

 'Swagat' > 'Daddi':True

Logical Operator

In [ ]:
p = True
q = False

print(f"p and q: {p and q}") #both true
print(f"p or q: {p or q}") #atleast one true
print(f"not p:{not p}") #Opposite of p

p and q: False
p or q: True
not p:False

In [ ]:
#Practical Example
age = 20
has_license = True
can_drive = age >= 18 and has_license
print(f"Can drive: {can_drive}")

Can drive: True

In [ ]:
#Multiple conditions

score = 85
is_present = True
can_pass = score >=80 and is_present
print(f"Can pass:{can_pass}")

Can pass:True

Simple Calculator

Create a calculator that checks if a person qualifies for loan

In [ ]:
#Personal information
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

#Loan criteria
min_age = 18
min_income = 30000
min_credit_score = 650

#Check Qualification
age_qualified = age >= min_age
income_qualified = annual_income >= min_income
credit_qualified = credit_score >= min_credit_score
overall_qualified = age_qualified and income_qualified and credit_qualified

print("=== Loan Qualification check===")
print(f"Age:{age} (Required:{min_age}) - {'Yes' if age_qualified else 'No'}")
print(f"Income:${annual_income} (Required:${min_income}) {'Yes' if credit_qualified else 'No'}")
print(f"Credit Score:{credit_score} (Required:{min_credit_score})-{'Yes'if credit_qualified else 'No'}")
print(f"Has collateral:{'Yes' if has_collateral else 'No'}")
print(f"\nOverall Qualification:{'QUALIFIED' if overall_qualified else 'NOT QUALIFIED'}")

=== Loan Qualification check===
Age:25 (Required:18) - Yes
Income:$50000 (Required:$30000) Yes
Credit Score:720 (Required:650)-Yes
Has collateral:Yes

Overall Qualification:QUALIFIED

Lists

Creating lists

In [ ]:
fruits = ["apple" , "banana" , "orange" , "grape" ]
numbers = [10,20,30,40,50]
mixed_data = [1,"Hello",3.14,True]

List indexing (0-based)

In [ ]:
print(f"First fruit:{fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"Second to last: {fruits[-2]}")

First fruit:apple
Last fruit: grape
Second to last: orange

List methods

In [ ]:
fruits.append("kiwi") #Add to end
fruits.insert(2,"strawberry") #Insert at index
removed = fruits.pop(2) #Remove last
print(f"Updated list: {fruits}")
print(f"Removed: {removed}")

Updated list: ['apple', 'banana', 'strawberry', 'orange', 'grape', 'kiwi']
Removed: strawberry

List slicing

In [ ]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-2:]}")
print(f"All except first:{fruits[1:-3]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['orange', 'grape']
All except first:['banana']

List operations

In [ ]:
print(f"Length: {len(fruits)}")
print(f"Contains 'apple':{'apple' in fruits}")
print(f"Index of 'banana':{fruits.index('banana')}")

Length: 5
Contains 'apple':True
Index of 'banana':1

Tuples

Tuples are immutable

In [ ]:
coordinates = (10,20)
rgb_color = (255,128,0)
person_info = ("Alice",25,"Engineer",True)

Tuples unpacking

In [ ]:
x,y = coordinates
print(f"X: {x},Y: {y}")

X: 10,Y: 20

Tuple methods

In [ ]:
print(f"count of 25: {person_info.count(25)}")
print(f"Index of 'Engineer':{person_info.index('Engineer')}")

count of 25: 1
Index of 'Engineer':2

Why use tuples


* Immutable(safe for dictionary keys)
* Slightly faster than lists
* Good for fixed collections

Dictionaries

Dictionary creation

In [ ]:
person = {
"name":"Vaibhav R Muragundi",
"age":26,
"profession":"Advocate",
"salary":"not predictable",
"skills":["Analytic reasoning","Attention to detail","Problem Solving"]
}

Accessing values

In [ ]:
print(f"Name: {person['name']}")
print(f"Age: {person.get('age','Unknown')}") #Safe access
print(f"Profession: {person.get('profession','Unknown')}")
print(f"Salary: {person.get('salary','Unknown')}")
print(f"Skills: {person.get('skills','Unknown')}")

Name: Vaibhav R Muragundi
Age: 26
Profession: Advocate
Salary: not predictable
Skills: ['Analytic reasoning', 'Attention to detail', 'Problem Solving']

Dictionary methods

In [ ]:
print(f"keys:{list(person.keys())}")
print(f"Values:{list(person.values())}")
print(f"Items: {list(person.items())}")

keys:['name', 'age', 'profession', 'salary', 'skills']
Values:['Vaibhav R Muragundi', 26, 'Advocate', 'not predictable', ['Analytic reasoning', 'Attention to detail', 'Problem Solving']]
Items: [('name', 'Vaibhav R Muragundi'), ('age', 26), ('profession', 'Advocate'), ('salary', 'not predictable'), ('skills', ['Analytic reasoning', 'Attention to detail', 'Problem Solving'])]

Adding/Updating

In [ ]:
person["location"] = "New York"
person["salary"] = 80000 #update existing

Practical use case:Inventory management

In [ ]:
inventory = {
"laptops" :{"quantity":50,"price":999.99},
"phones" :{"quantity":100,"price":599.99},
"tablets" :{"quantity":30,"price":399.99}
}

Nested Access

In [ ]:
print(f"Laptop price: ${inventory['laptops']['price']}")
print(f"Phones price: ${inventory['phones']['price']}")
print(f"tablets price: ${inventory['tablets']['price']}")

Laptop price: $999.99
Phones price: $599.99
tablets price: $399.99

Sets

Set contain unique elements

In [ ]:
colors = {"red","blue","green","red"} #duplicate removed
print(f"Colors:{colors}")

Colors:{'green', 'blue', 'red'}

Set operations

In [ ]:
team1_skills = {"Python","Javascript","SQL","React"}
team2_skills = {"Javascript","SQL","Java","Spring"}

Common operations

In [ ]:
print(f"Common skills:{team1_skills.intersection(team2_skills)}")
print(f"All skills:{team1_skills.union(team2_skills)}")
print(f"Team1 only:{team1_skills.difference(team2_skills)}")

Common skills:{'Javascript', 'SQL'}
All skills:{'Javascript', 'SQL', 'Java', 'Spring', 'React', 'Python'}
Team1 only:{'Python', 'React'}

Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple","orange"])
print(f"Updated colors:{colors}")

Updated colors:{'yellow', 'purple', 'green', 'blue', 'orange', 'red'}

Control Flow

Conditional Statements

Basic if-else

In [ ]:
def get_grade_letter(score):
  if score>90:
    return "A"
  elif score>80:
    return "B"
  elif score>70:
      return "C"
  elif score>60:
    return "D"
  else:
      return "F"

Test the function

In [ ]:
test_scores = [95,82,78,66,53]
for score in test_scores:
   grade = get_grade_letter(score)
   print(f"Score {score}:Grade {grade}")

Score 95:Grade A
Score 82:Grade B
Score 78:Grade C
Score 66:Grade D
Score 53:Grade F

Nested conditions

In [ ]:
def get_shipping_cost(weight,distance):
  base_cost = 5.0

  if weight<=1:
    weight_cost = 2.0
  elif weight<=5:
    weight_cost=5.0
  else:
    weight_cost=10.0

    if distance<=100:
      distance_cost=1.0
    elif distance<=500:
      distance_cost=3.0
    else:
      distance_cost = 7.0
    return base_cost + weight_cost + distance_cost

Test Shipping Costs

In [ ]:
print(f"Light,close:${get_shipping_cost(0.5,50)}")
print(f"Heavy,far:${get_shipping_cost(10,800)}")

Light,close:$None
Heavy,far:$22.0

Loops-For Loop

Basic for loop

In [ ]:
fruits = ["apple","banana","orange",'grape']
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

Loop with enumerate(get index)

In [ ]:
for i,fruit in enumerate(fruits):
  print(f"{i+1}.{fruit}")

1.apple
2.banana
3.orange
4.grape

Loop with range

In [ ]:
for day in range(1,8):
  print(f"Day {day} of the week")

Day 1 of the week
Day 2 of the week
Day 3 of the week
Day 4 of the week
Day 5 of the week
Day 6 of the week
Day 7 of the week

Nested loops-Creating a multiplication table

In [ ]:
print("Multiplication Table:")
for i in range(1,6):
   for j in range(1,6):
      product = i * j
      print(f"{i} * {j} = {product:2d}",end=" ")
      print() #New line after each row

Multiplication Table:
1 * 1 =  1
1 * 2 =  2
1 * 3 =  3
1 * 4 =  4
1 * 5 =  5
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 =  5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

Processing data with loops

In [ ]:
sales_data = [
{"product": "Laptop", "price": 999, "quantity": 5},
{"product": "Phone", "price": 599, "quantity": 10},
{"product": "Tablet", "price": 399, "quantity": 8}
]

total_revenue = 0

for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

print(f"Total Revenue: ${total_revenue}")

Laptop: $4995
Phone: $5990
Tablet: $3192
Total Revenue: $14177

Loops-While Loop

While loop for user input simulation

In [ ]:
def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("Guess the number between 1 and 10!")

  while guess != target:

    # Simulate user input
    import random
    guess = random.randint(1, 10)
    attempts += 1

    if guess < target:
      print(f"Guess {attempts}: {guess} - Too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} - Too high!")
    else:
      print(f"Guess {attempts}: {guess} - Correct!")

    # Safety check
    if attempts > 10:
      print("Max attempts reached!")
      break

  print(f"Game finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 and 10!
Guess 1: 4 - Too low!
Guess 2: 3 - Too low!
Guess 3: 6 - Too low!
Guess 4: 5 - Too low!
Guess 5: 6 - Too low!
Guess 6: 7 - Correct!
Game finished in 6 attempts

While loop for processing

In [ ]:
def process_queue():
  queue = ["Task 1", "Task 2", "Task 3", "Task 4"]

  while queue:
    current_task = queue.pop(0) # Remove first item
    print(f"Processing: {current_task}")

    print(f"Remaining tasks: {len(queue)}")

  print("All tasks completed!")

process_queue()

Processing: Task 1
Remaining tasks: 3
Processing: Task 2
Remaining tasks: 2
Processing: Task 3
Remaining tasks: 1
Processing: Task 4
Remaining tasks: 0
All tasks completed!

Functions

Function Basics

Basic function definition

In [ ]:
def greet(name):
  return f"Hello, {name}!"

Function call

In [ ]:
message = greet("Python Programmer")
print(message)

Hello, Python Programmer!

Function with multiple parameters

In [ ]:

def calculate_area(length, width):
  area = length * width
  return area

Test the function

In [ ]:
room_area = calculate_area(12, 10)
print(f"Room area: {room_area} square feet")

Room area: 120 square feet

Function with default parameters

In [ ]:
def create_user_profile(name, age=18, location="Unknown", active=True):
  return {
      "name": name,
      "age": age,
      "location": location,
      "active": active
  }

Differnt ways to call

In [ ]:
profile1 = create_user_profile("Alice") # Use defaults
profile2 = create_user_profile("Bob", 25) # Override age
profile3 = create_user_profile("Charlie", location="New York", age=30) # Named parameters

print(f"Profile 1: {profile1}")
print(f"Profile 2: {profile2}")
print(f"Profile 3: {profile3}")

Profile 1: {'name': 'Alice', 'age': 18, 'location': 'Unknown', 'active': True}
Profile 2: {'name': 'Bob', 'age': 25, 'location': 'Unknown', 'active': True}
Profile 3: {'name': 'Charlie', 'age': 30, 'location': 'New York', 'active': True}

Advanced Function Concepts

Function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ",""))
  return word_count,char_count,char_count_no_spaces

Test with sample text

In [ ]:
sample_text = "Python is a powerful programming language"
words, chars, chars_no_space = analyze_text(sample_text)
print(f"Text: '{sample_text}'")
print(f"Word count: {words}")
print(f"Character count: {chars}")
print(f"Characters (no spaces): {chars_no_space}")

Text: 'Python is a powerful programming language'
Word count: 6
Character count: 41
Characters (no spaces): 36

Variable-length arguements

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
    return sum(numbers) / len(numbers)

Test with different numbers of arguements

In [ ]:
avg1 = calculate_average(10, 20, 30)
avg2 = calculate_average(5, 15, 25, 35, 45)
avg3 = calculate_average(100)

print(f"Average of 10, 20, 30: {avg1}")
print(f"Average of 5, 15, 25, 35, 45: {avg2}")
print(f"Average of 100: {avg3}")

Average of 10, 20, 30: None
Average of 5, 15, 25, 35, 45: None
Average of 100: None

Keyword arguemnts

In [ ]:
def create_report(**data):
  print("=== REPORT ===")
  for key, value in data.items():
    print(f"{key.replace('_', ' ').title()}: {value}")

  print("===============")

create_report(
  title="Monthly Sales Report",
  date="2024-01-01",
  total_sales=15000,
  new_customers=25,
  returning_customers=150
)

=== REPORT ===
Title: Monthly Sales Report
Date: 2024-01-01
Total Sales: 15000
New Customers: 25
Returning Customers: 150
===============

Lambda Functions

Lambda functions(anonymous function)

Regular function

In [ ]:
def square(x):
  return x ** 2

Lambda equivalent

In [ ]:
square_lambda = lambda x: x ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

Lambda with multiple arguements

In [ ]:
multiply = lambda x,y:x * y
print(f"Multiply: {multiply(3,4)}")

Multiply: 12

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

F

Filtering with lambda

In [ ]:
ages = [16, 21, 35, 12, 45, 18, 67]
adults = list(filter(lambda age: age <= 18, ages))
print(f"Adult ages: {adults}")

Adult ages: [16, 12, 18]

Sorting with lambda

In [ ]:
people = [
  {"name": "Alice", "age": 30},
  {"name": "Bob", "age": 25},
  {"name": "Charlie", "age": 35}
]

sorted_people = sorted(people, key=lambda person: person["age"])
print("People sorted by age:")

for person in sorted_people:
  print(f" {person['name']}: {person['age']}")

People sorted by age:
 Bob: 25
 Alice: 30
 Charlie: 35

Library management system